body{
    background-color: black;
}
img{
    height: 260px;
    width: 300px;
    border-radius: 3px;
    transition: 2s;
}
img:hover{
    transform: scale(1.2) rotate(5deg);
}
.container{
    display: flex;
    height: 45vw;
    justify-content:center;
    align-items: center;
}
.section{
    display: flex;
    height: 60vw;
    justify-content: center;
    align-items: center;
}
.card{
    height:260px;
    margin:30px;
    box-shadow: 5px 5px 20px;
    border-radius: 5px;
}
.card:hover{
    transform: translate(0px, -10px);
}
.intro{
    height: 160px;
    width: 300px;
    padding-left: 10px;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    color: darkred;
    font-size: smaller;
    transition: 2s;
}
.intro:hover{
    transform: scale(2);
}
h1{
    margin: 10px;
}
.btn{
    margin: 10px;
    padding: 10px 20px 5px ;
    background: linear-gradient(90deg,rgba(45,156,219,.6), rgba(155,81,224,.6));
    border-radius: 25px;
    color:azure;
    text-decoration: none;
    box-shadow:  2px 5px 7px rgba(0,0,0,0.3);
}
#ffm {
   margin-bottom: 1em;
}
button {
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: azure;
}
.contact{
    color: blue;
}
nav{
    background-color: aqua;
}