
.btn-container{
    display: none;
}

.btn{
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card {
    position: relative;
}

.card:hover .btn-container{
    display: block;
}

.card img{
    cursor: pointer;
}  